

.navbar{
    height: 50px;
    background-color: #d1d0d0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #000;
    position: relative;
}

.logo{
    font-weight: bold;
    font-size: 20px;
    font-weight: bolder;
}

.icons{
    display: flex;
    align-items: center;
}

.icon{
    margin-left: 15px;
    cursor: pointer;
    position: relative;
}

.iconImg{
    width: 20px;
    height: 20px;
}

.counter{
    width: 5px;
    height: 5px;
    color: #fff;
    background-color: #ff0000;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -5px;
    right: -5px;
}

.notifications{
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    color: #000;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.notification{
    padding: 2px;
    font-size: 14px;
}

.nButton{
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    font-size: 12px;
    background-color: #2121ee;
}